<footer class="deep-space ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Oka bRionZ</h3>
				<ul class="mb3">
					<li><a href="/" class="link"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
					<li><a href="/products" class="link"><i class="fa fa-plus" aria-hidden="true"></i> Our products</a></li>
					<li><a href="/values" class="link"><i class="fa fa-vcard-o" aria-hidden="true"></i> About</a></li>
					<li><a href="/post" class="link"><i class="fa fa-file-text-o" aria-hidden="true"></i> Blog</a></li>
					<li><a href="/contact" class="link"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link"><i class="fa fa-handshake-o" aria-hidden="true"></i> Latest offers</a></li>
					<li><a href="/contact" class="link"> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2 center">
					<a href="https://www.facebook.com/okalatteev6" class="link"><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a><br>
					<a href="https://www.facebook.com/okalatteev6" class="link"><i class="fa fa-twitter" aria-hidden="true"></i>  Twitter</a><br>
					<a href="https://www.facebook.com/okalatteev6" class="link"><i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a><br>
					<a href="https://www.facebook.com/okalatteev6" class="link"><i class="fa fa-github" aria-hidden="true"></i>  Github</a><br>
					<a href="https://www.facebook.com/okalatteev6" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i>  Linkedin</a>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
